.top-bar {
  background-color: white;
  padding: 4px 50px;
}

.top-bar img {
  width: 100px;
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: purple;
  padding: 15px 20px 15px 20px;
  list-style: none;
}

.navbar li {
  margin: 0 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
}

.navbar a:hover {
  color: #622da3;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar a {
    font-size: 16px;
  }

  @media (max-width: 440px) {
    .navbar a {
      font-size: 14px;
    }

    .navbar {
      padding: 10px;
    }

  }

  @media (min-width: 1200px) {
    .navbar li {
      font-size: 24px;
      margin: 0 20px;
    }

    h1 {
      font-size: 40px;
    }

  }
   }