@import url(nav.css);
* {
  margin: 0;
  padding: 0;
}

img {
  width: 350px;
  height: 300px;
}

.Dogs-logo img {
  width: 100%;
  height: 5%;
}
#Purple-text {
  color: purple;
  text-align: center;
}

.All-dogs {
  display: inline;
}

.dogs-aw {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 28px;
  color: #622da3;
  text-align: center;
  margin: 0px;
}


.dogs-aw h2 {
  font-size: 24px;
  color: #4a148c;
  margin: 0;
}

.All-dogs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.All-dogs div {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 6px;
  width: 200px;
  text-align: center;
}

.All-dogs img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.All-dogs b {
  font-size: 24px;
  color: #333;
}

.All-dogs p {
  margin: 5px;
  font-size: 14px;
  color: #555;
}

h1 {
  text-align: center;
  position: relative;
  bottom: 200px;
  color: white;
  font-size: 30px;
}
@media (min-width: 440px) {
  .All-dogs{
    padding: 100px;

  }
  .navbar{
    padding: 20px 15px;
    
  }
}

@media (max-width: 575px) {
  .navbar {
   
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar li {
    margin: 10px 0;
  }

  .Dogs-logo img {
    height: auto;
  }

  h1 {
    font-size: 40px;
    bottom: 200px;
  }

  .All-dogs {
    flex-direction: column;
    gap: 15px;
  }

  .All-dogs div {
    width: 90%;
    margin: 0 auto;
  }

  img {
    height: auto;
  }
  .navbar a {
    font-size: 16px;
  }

  #dogs-available h2 {
    font-size: 33px;
  }
}

@media (max-width: 1200px) {
  #dogs-available h2 {
    font-size: 50px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  #dogs-available h2 {
    font-size: 60px;
  }

  .navbar li {
    margin: 10px 10;
    font-size: 40px;
  }
}
 /* 😭😭😭😭😭😭😭😭😭😭😭😭😭😭🥺 */
 